# MacOSX
.DS_Store

# IntelliJ
*.iml
.idea

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

imt2681_studentdb
imt2681_studentdb.coverprofile
imt2681_cloud
imt2681_cloud.coverprofile

vendor

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
